
@mixin header {
    @include flex-center-row;

    h1,
    h2 {
        width: 100%;
    }

    .logo {
        font-size: 7.5vh;
        padding: 0 0.5rem;
        transition: 3s;
    }

    .logo,
    .tooltip {
        @include breakpoint(0 $breakpoint-tablet) {
            display: none;
        }
    }

    .menu-wrapper {
        @include breakpoint(0 $breakpoint-basic) {
            display: none;
        }
    }

    &:hover .logo {
        transform: rotate(1080deg);
    }

    @include menu(0.4s);
}
